<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BotUrl" value="https://directline.botframework.com/" />
    <add key="BotFxDirectLineSecret" value="{your direct line bot secret}" />
    <add key="SpeechApiPrimaryKey" value="{your speech api primary key}" />
    <add key="SpeechApiSecondaryKey" value="{your speech api secondary key}" />
    <add key="LuisAppId" value="{your luis app id}" />
    <add key="LuisSubscriptionKey" value="{your luis subscription key}" />
    <add key="SpeechLanguage" value="{speech language:zh-TW, en-US...}" />
    <add key="StorageAccountName" value="{your storage account name}" />
    <add key="StorageAccountKey" value="{your storage account key}" />
    <add key="VisionApiKey" value="{your vision api key}" />
    <add key="FaceApiKey" value="{your face api key}" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>